@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.layout {
  @apply flex flex-col h-screen;
}

.layout-body {
  @apply flex flex-1;
}

.header {
  @apply bg-blue-600 text-white p-4;
}

.header-title {
  @apply text-2xl font-bold;
}

.sidebar {
  @apply w-64 bg-gray-800 text-white p-6;
}

.sidebar-nav ul {
  @apply space-y-4;
}

.sidebar-link {
  @apply block py-2 px-4 rounded hover:bg-gray-700;
}

.main-content {
  @apply flex-1 bg-gray-100 p-6;
}

.footer {
  @apply bg-blue-600 text-white p-4 text-center;
}

.link {
  @apply block text-white font-bold py-4 px-6 rounded-lg shadow-md transition duration-300;
}


/* ------------------------Lesson's Links---------------------------------------- */

.link-base {
  @apply block font-bold py-4 px-6 rounded-lg shadow-md transition duration-300 text-white;
}

.link-blue {
  @apply bg-lesson-blue hover:bg-lesson-blue-hover;
}

.link-green {
  @apply bg-lesson-green hover:bg-lesson-green-hover;
}

.link-red {
  @apply bg-lesson-red hover:bg-lesson-red-hover;
}

.link-purple {
  @apply bg-lesson-purple hover:bg-lesson-purple-hover;
}

.link-yellow {
  @apply bg-lesson-yellow hover:bg-lesson-yellow-hover;
}

.link-pink {
  @apply bg-lesson-pink hover:bg-lesson-pink-hover;
}

.link-teal {
  @apply bg-lesson-teal hover:bg-lesson-teal-hover;
}

/*----------------Article------------------------------------------------------------*/

.header_h1 {
  @apply text-3xl font-semibold mb-4 text-blue-600 text-center;
}

/*-----------------Button---------------------------------------------------------------*/

.button_to {
  @apply flex w-1/2 items-center justify-center text-white font-bold py-4 px-6 rounded-lg cursor-pointer;
}